@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  --dom: #aeecf3;
  --comp1: #003d43;
  --comp2: #a43e00;
  --accent: #ffabd8;
}

.App {
  height: 110vh;
  background-color: var(--dom);
  color: var(--comp1);
  font-family: "Cormorant Garamond", serif;
}
