body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  height: 100%;
  background-image: linear-gradient(
    to left,
    #aeecf3,
    #82bdc4,
    #589096,
    #2f656b,
    #003d43
  );
}

@media screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(
      to top,
      #aeecf3,
      #82bdc4,
      #589096,
      #2f656b,
      #003d43
    );
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
